<mat-toolbar  color="primary">
    <mat-toolbar-row>
        <span class='title'>Chandra Surya</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-button routerLink="/home">
            <mat-icon class="icon">home</mat-icon> Home
        </button>
        <button mat-button [matMenuTriggerFor]="astroMenu"> Astrologia </button>
        <mat-menu #astroMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/all-consultations"> Consultas </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="articleMenu"> Artigos </button>
        <mat-menu #articleMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="/all-articles"> Todos os Artigos </button>
        </mat-menu>
        <app-manager></app-manager>
        <span class="pre-account"></span>
        <app-account></app-account>
    </mat-toolbar-row>
</mat-toolbar>