<h1 class='title'>Chandra Surya</h1>
<nav>
    <ul>
        <li routerLink="/home">Home</li>
        <li>Astrologia
            <ul>
                <div class='box'>
                    <li routerLink="/all-consultations">Consultas</li>
                    <li>Previsões</li>
                </div>
            </ul>
        </li>
        <li>Ufologia
            <ul>
                <div class='box'>
                    <li>Artigos</li>
                    <li>Vídeos</li>
                    <li>Grupos</li>
                </div>
            </ul>
        </li>
        <li>Artigos
            <ul>
                <div class='box'>
                    <li>Astrologia</li>
                    <li>Ufologia</li>
                    <li>Outros</li>
                </div>
            </ul>
        </li>
        <li>Videos
            <ul>
                <div class='box'>
                    <li>Astrologia</li>
                    <li>Ufologia</li>
                    <li>Outros</li>
                </div>
            </ul>
        </li>
        <li>Tarô
            <ul>
                <div class='box'>
                    <li>Consultas</li>
                    <li>Jogo On-Line</li>
                    <li>Outros</li>
                </div>
            </ul>
        </li>
        <li>Login
            <ul>
                <div class='box'>
                    <li routerLink="/login">Entrar</li>
                    <li>Criar Conta</li>
                </div>
            </ul>
        </li>
    </ul>
    <hr>
    <!-- <span class='bottom-nav'></span> -->
</nav>
