.title {
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
}

.mat-toolbar-row {
    .pre-account {
        display: flex;
        flex-grow: 1;
    }
}

button{
    font-size: 1.2rem;
}
.icon {
    margin-bottom: 10px;
}