<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class='title'>Chandra Surya</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <nav>
            <div class='icon-button'>
                <mat-icon>home</mat-icon><button mat-button routerLink="/home">Home </button> 
                <button  mat-button [matMenuTriggerFor] = "astroMenu"> Astrologia </button> 
                <mat-menu #astroMenu = "matMenu"  yPosition = "below"> 
                <button  mat-menu-item routerLink="/all-consultations"> Consultas </button > 
                </mat-menu >

                    </div>
                </nav>
                <button  mat-button [matMenuTriggerFor] = "managerMenu">Conta</button>
                <mat-menu #managerMenu="matMenu" yPosition="below">
                    <button mat-menu-item *ngIf="user" (click)="logout()">Sair</button> 
                    <button mat-menu-item *ngIf="!user" routerLink="/login">Entrar</button> 
                    <button mat-menu-item *ngIf="user?.isAdmin" routerLink="/users">Ver Usuários</button> 
                    <button  mat-menu-item routerLink="/self-create-user" *ngIf="!user">Cadastrar</button > 
                </mat-menu>
    </mat-toolbar-row>

