<div class="image-home">
  <h1>Chandra Surya</h1>
  <h2>Espaço Esotérico de Terapias Integradas</h2>
</div>
<div class="grid-home">
  <div class="info-home1">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>brightness_3</mat-icon>
        Participe de lives sobre Ufologia
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>brightness_5</mat-icon>
        Comente Artigos sobre Astrologia
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>brightness_3</mat-icon>
        Acesse profissionais de terapias esotéricas
      </mat-list-item>
    </mat-list>

  </div>
  <div class="info-home2">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon>brightness_5</mat-icon>
        Consulte-se com um Astrólogo
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>brightness_3</mat-icon>
        Faça previsões anuais
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-icon>brightness_5</mat-icon>
        <p>Faça a sinastria do seu mapa natal com o mapa do seu parceiro</p>
      </mat-list-item>
    </mat-list>
  </div>

</div>