<h1 class="title-login">Chandra Surya</h1>
<hr>
<div class="login-container">
    <h2>Login</h2>
    <h3>Digite usuário e senha para entrar ou cadastre-se</h3>
    <form class="login-form">
        <input class="form-field" type="email" placeholder="Digite o e-mail" name="email" required>
    
        <input class="form-field" type="password" placeholder="Digite o e-mail" name="password" required>
        <br>
        <p class="error" *ngIf="error">Usuário/senha inválidos! Tente novamente.</p>
    </form>
</div>
