img, .text{
    width: 640px;
    height: 360px;
}
h1{
    font-family:'Libre Baskerville';
    font-style: italic;
    font-size: 3rem;
}
 p::first-letter{
    font-size: 4rem;
    font-weight: bold;
    color: #DB7093;
}
.article-items{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}