.article {
    width: 100%;
    display: flex;
    justify-content: center;
    mat-card {
        margin: 20px 0 40px 0;

        height: 100%;
    }
}

.comments,
.hide-article {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    textarea {
        min-width: 500px;
        font-size: 1.1rem;
    }
}

mat-form {
    display: flex;
    flex-direction: column;
    mat-form-field {
        min-width: 800px;
    }
    button {
        max-width: 100px;
        margin-bottom: 20px;
    }
    justify-content: center;
}
