footer{
    padding: 0;
    margin: 0;
    font-size: large;

}
.partners .site-map{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
} 
.nav-footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(157, 177, 174);
}