<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{ consultation?.professional }}</mat-card-title>
      <mat-card-subtitle>{{ consultation?.theme }}</mat-card-subtitle>
      <img mat-card-md-image src="{{consultation?.imageUrl}}" >
    </mat-card-title-group>
    <mat-card-content>
        <p>{{ consultation?.description }}</p>
        <p *ngIf="consultation?.price">Valor: {{ consultation!.price | currency: 'BRL' }}</p>
        <p *ngIf="!consultation?.price">Valor a combinar</p>
    </mat-card-content>
  </mat-card>
